<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Twiclone</title>
    </head>
    <body>
        <div>
            <h1>Twiclone</h1>
        </div>

        <div>
            <h2><a href="{% url 'login' %}">ログイン</a></h2>
        </div>

        <div>
            <h2><a href="{% url 'register' %}">ユーザ登録</a></h2>
        </div>

    </body>
</html>

